.nx
.DS_Store
.vite-ssg-dist
.vite-ssg-temp
*.local
dist
dist-ssr
node_modules
.idea/
*.log
.eslintcache
cypress/downloads
public/assets/fonts
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
coverage/
