---
import { readItems } from '@directus/sdk'

import ArticleListItem from '../../components/ArticleListItem.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'
import { getDirectusClient } from '../../utils/get-directus-client'

const pageTitle = 'Article List'

const client = getDirectusClient()

const allArticles = await client.request(readItems('article'));
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="pt-[1em] text-32px text-center color-red">Article list</h1>
  <br />
  <div class="flex justify-center">
    <ul class="w-50%">
      {
        allArticles.map(article => (
          <ArticleListItem
            data={article}
            url={`/articles/${article.slug}`}
          />
        ))
      }
    </ul>
  </div>
</BaseLayout>
