---
const { title, url } = Astro.props
---
<li><a href={url} class="link"><div class="circle"></div><span class="ml-[20px]">{title}</span></a></li>

<style>
  .link {
    color: blue;
    border-bottom: 1px dashed blue;
    .circle {
      display: inline-block;
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;
      background-color: blue;
    }
  }
</style>
