---
import Link from '~/components/Link.astro'
import Text from '~/components/Text.astro'
import Title from '~/components/Title.astro'
import { DISCORD_LINK } from '~/shared/constants'
---

<section
  id="hero"
  class="pb-14 flex relative min-h-screen justify-center items-center after:[background-size:auto_70%] after:opacity-50 after:content-[''] after:absolute after:bottom-0 after:left-0 after:right-0 after:top-0 after:-z-10"
>
  <div class="px-3 grid gap-6 max-w-4xl lg:px-0 2xl:max-w-6xl container">
    <article class="grid gap-4 max-w-[760px] justify-center lg:justify-start">
      <Title>Somos Fazt Community</Title>
      <Text>
        Crece como profesional compartiendo tus conocimientos con los demás y participando en proyectos open source.
      </Text>
    </article>
    <article class="grid gap-6 justify-items-center lg:grid-cols-[repeat(2,fit-content(100%))]">
      <Link btn external to={DISCORD_LINK} title="Unirme a la comunidad" class="fill primary p-4">
        Unirme a la comunidad
      </Link>
      <Link btn title="Ver proyectos" class="secondary p-4 outline">Ver proyectos</Link>
    </article>
  </div>
</section>

<style>
  #hero::after {
    background: url('/circuit-black.svg') no-repeat center right;
  }
</style>
