---
import Link from '~/components/Link.astro'
import MapGrid from '~/components/MapGrid.astro'
import Subtitle from '~/components/Subtitle.astro'
import Text from '~/components/Text.astro'
import { DISCORD_LINK } from '~/shared/constants.js'
---

<section id="contributors" class="py-16 lg:pb-12 lg:pt-28">
  <div
    class="px-3 mx-auto grid gap-6 max-w-4xl justify-items-center lg:[grid-template-areas:'mapgrid_subtitle''mapgrid_message'] lg:px-0 lg:gap-20 lg:gap-x-16 lg:gap-y-4 2xl:max-w-6xl lg:items-center"
  >
    <Subtitle as="h2" class="lg:max-w-[550px] lg:justify-self-start">Ellos son parte de nuestra comunidad</Subtitle>
    <article class="lg:[grid-area:mapgrid] lg:self-center">
      <MapGrid />
    </article>
    <article
      class="grid gap-6 justify-items-center lg:[grid-area:message] lg:max-w-[550px] lg:justify-items-start lg:justify-self-start"
    >
      <Text>
        En los proyectos de la comunidad hay personas del todo el mundo que aporta su tiempo, conocimiento y experiencia
        con los demás.
      </Text>
      <Link btn external to={DISCORD_LINK} title="Conócelos a todos" class="fill primary p-4">Conócelos a todos</Link>
    </article>
  </div>
</section>
