---
import Link from '~/components/Link.astro'
---

<script>
  const $modal = document.querySelector('#modal')!
  const $links = document.querySelectorAll('.close')

  $links.forEach($link =>
    $link.addEventListener('click', () => {
      $modal.classList.replace('grid', 'hidden')
      document.body.style.overflow = 'auto'
    }),
  )
</script>

<div
  id="modal"
  class="px-4 py-6 hidden bg-black text-white grid-rows-[fit-content(100%)_auto] fixed h-screen w-full top-0 z-50"
>
  <div class="text-black grid grid-cols-[32px] grid-rows-[32px] w-full justify-end dark:text-white">
    <svg id="close-modal" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">
      <path d="M21 1L1 21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
      <path d="M1 1L21 21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
  </div>
  <nav class="pt-32 grid content-start">
    <ul class="text-2xl grid grid-rows-[repeat(2,fit-content(100%))] gap-8 content-center">
      <li class="cursor-pointer select-none">
        <Link class="close" to="#about">Acerca</Link>
      </li>
      <li class="cursor-pointer select-none">
        <Link class="close" to="#contributors">Contribuidores</Link>
      </li>
    </ul>
  </nav>
</div>
